In [ ]:
# Data types in python 
'''
1. Int 
2. Float
3. Complex
4. String
5. Boolean
6. list
7. tuple
8. set 
9.dictionary 
10. class : custom Datatype
'''

In [1]:
# Example : Simple calculator 
'''
Logic:

Step1 : Ask user enter two values
step2 : Perform mathematical Operation
step3: Print the Output
'''
num1 = float(input("enter the first value:"))
num2 = float(input("enter the second value"))

num3 = num1+num2

print('The output of two mathematical number operation',num3)
print(f'The Output of Two mathematical Number Operation{num3}')
print(f'The Output of Two Mathematical Number Operation {num3}'.format(num3))

print(f'The Output of two numbers {num1}and {num2} is {num3}')

The output of two mathematical number operation 25.0
The Output of Two mathematical Number Operation25.0
The Output of Two Mathematical Number Operation 25.0
The Output of two numbers 12.0and 13.0 is 25.0

In [5]:
# Concept of Indexing and Slicing

str = "Rushikesh Patil"

'''
Note: 
String indexing : string[start:stop:step]
'''
print(str[1:5:1])

str2 = "Hello Welcome to the World of Python Programming"
print(str2[0:10:2])

ushi
HloWl

In [10]:
# Conditional Statement

num = float(input('Enter the Number'))

if num > 100:
    print('The Number is Satisafy criteria')

else:
    print('Not Satisfy the Criteria')

The Number is Satisafy criteria

In [11]:
# Example: To Check whether the given string is Palindrom or Not
'''
Step1 : Ask user to enter the string 
step2: Reverse the String 
step3: Use if else logic to print the Output
'''

text1 = input("Enter the string: ")
text2 = text1[::-1]

if text1 == text2:
    print("The given string is palindrom ")

else: 
    print("Not a palindrom")

The given string is palindrom

In [12]:
# Example: Write a program to Print Volume of Cylinder 
'''
Volume = Area * Height
step1 : Ask user to enter the Diameter of Cylinder
step2: Ask user enter the Height of Cyilnder
step3: Volume = Area * Height
step4 : print the desired output
'''
PI = 3.1421
Diameter = float(input("Enter the Diameter of Cylinder:"))
Height = float(input("Enter the Height of Cylinder"))
Volume = (PI/4)*(Diameter**2)* Height
print(f'The Volume of Cylinder is {Volume}mm^3')

The Volume of Cylinder is 9.426300000000001mm^3

In [13]:
marks = float(input("Enter the Marks:"))

if marks > 90 :
    print("Excellent")
elif marks<90 and marks > 60:
    print("Bright")
else:
    print("Chutiya padhai kar bc")

Chutiya padhai kar bc

In [14]:
# For  loop 
# range (start,stop,step)
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(10):
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [16]:
for i in range(10):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********

In [17]:
for i in range(0,10):
    print(i)
    if i == 6:
        break

0
1
2
3
4
5
6

In [18]:
for i in range(0,10):
    print(i)
    if i ==3:
        continue

0
1
2
3
4
5
6
7
8
9

In [19]:
# Example :
# Palindrom function defination 

def palindrom():
    text1 = input("Enter the String:")
    text2 = text1[::-1]
    if text1==text2:
        print("The given string is palindrom")
    else:
        print("The given String is not Palindrom")

palindrom()

The given String is not Palindrom

In [20]:
# Example 
# Defination a function : Compute
def compute(num1, num2):
    num3 = num1 + num2
    return num3

ans = compute(100,200)

print(f'The answer is{ans}')

The answer is300

In [23]:
# Data Structure of Python Programming
'''
1. List
2. Tuple
3. Dictionary
4. Sets
'''

# List

a = [1,2,3,100.2000,3.1421,3+4j,'Hello World',True,[1,2,3]]
a.append(100)
print(a)
a.insert(1,0)
a

[1, 2, 3, 100.2, 3.1421, (3+4j), 'Hello World', True, [1, 2, 3], 100]

[1, 0, 2, 3, 100.2, 3.1421, (3+4j), 'Hello World', True, [1, 2, 3], 100]

In [24]:
a.pop()
print(a)

[1, 0, 2, 3, 100.2, 3.1421, (3+4j), 'Hello World', True, [1, 2, 3]]

In [28]:
a.remove(1)
print(a)

[2, 3, 100.2, 3.1421, (3+4j), 'Hello World', [1, 2, 3]]

In [29]:
lst = [1000,5000,6000,2000,3000]
lst.sort()
print(lst)

[1000, 2000, 3000, 5000, 6000]

In [30]:
lst.reverse()
print(lst)

[6000, 5000, 3000, 2000, 1000]

In [31]:
lst = [100,200,[3000],400]
print(lst[2][0])

3000

In [37]:
lst1 = [10,20]
lst2 = [30,40]
lst3 = lst1+lst2
print(lst3)
lst1.append(20)
print(lst1)
lst1.pop()
lst1

[10, 20, 30, 40]
[10, 20, 20]

[10, 20]

In [38]:
# Example
lst = [10,21,30,41,51]
even = []
odd = []

for i in lst:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print('even numbers',even)
print('odd numbers',odd)

even numbers [10, 30]
odd numbers [21, 41, 51]

In [42]:
# Example

tup = (10,20,30,40)
print(type(tup))

# Type Cast
tup = list(tup)
tup.append(50)
tup

<class 'tuple'>

[10, 20, 30, 40, 50]

In [44]:
# Dictionary 

# dict = {'key1':value}

d = {'1':10}  # 1:key and 10 : value
print(d.keys())
print(d.values())

dict_keys(['1'])
dict_values([10])

In [46]:
# Fibonacci series: 0 1 1 2 3 5 8 13....
# Factorail Series : 4! = 4*3*2*1 = 24

def factorial(n):

    if n==0 or n==1:
        return 1
    else:
        return n* factorial(n-1)
number = float
factorial(4)

24

In [48]:
# Fibonacci program

def fibonacci(n):
    a,b = 0,1
    for i in range(n):
        print(a, end = " ")
        a, b = b, a+b
n = int(input("Enter the number of terms: "))
fibonacci(n)

0 1 1 2 3 5 8 13

In [50]:
print([i*i for i in range(10)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [51]:
# [0 2 4 6 8 10 ...]

lst = []

for i in range(12):
    if i%2 ==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8, 10]