In [ ]:
# Data types in python 
'''
1. Int 
2. Float
3. Complex
4. String
5. Boolean
6. list
7. tuple
8. set 
9.dictionary 
10. class : custom Datatype
'''

In [1]:
# Example : Simple calculator 
'''
Logic:

Step1 : Ask user enter two values
step2 : Perform mathematical Operation
step3: Print the Output
'''
num1 = float(input("enter the first value:"))
num2 = float(input("enter the second value"))

num3 = num1+num2

print('The output of two mathematical number operation',num3)
print(f'The Output of Two mathematical Number Operation{num3}')
print(f'The Output of Two Mathematical Number Operation {num3}'.format(num3))

print(f'The Output of two numbers {num1}and {num2} is {num3}')

The output of two mathematical number operation 25.0
The Output of Two mathematical Number Operation25.0
The Output of Two Mathematical Number Operation 25.0
The Output of two numbers 12.0and 13.0 is 25.0

In [5]:
# Concept of Indexing and Slicing

str = "Rushikesh Patil"

'''
Note: 
String indexing : string[start:stop:step]
'''
print(str[1:5:1])

str2 = "Hello Welcome to the World of Python Programming"
print(str2[0:10:2])

ushi
HloWl

In [10]:
# Conditional Statement

num = float(input('Enter the Number'))

if num > 100:
    print('The Number is Satisafy criteria')

else:
    print('Not Satisfy the Criteria')

The Number is Satisafy criteria

In [11]:
# Example: To Check whether the given string is Palindrom or Not
'''
Step1 : Ask user to enter the string 
step2: Reverse the String 
step3: Use if else logic to print the Output
'''

text1 = input("Enter the string: ")
text2 = text1[::-1]

if text1 == text2:
    print("The given string is palindrom ")

else: 
    print("Not a palindrom")

The given string is palindrom

In [12]:
# Example: Write a program to Print Volume of Cylinder 
'''
Volume = Area * Height
step1 : Ask user to enter the Diameter of Cylinder
step2: Ask user enter the Height of Cyilnder
step3: Volume = Area * Height
step4 : print the desired output
'''
PI = 3.1421
Diameter = float(input("Enter the Diameter of Cylinder:"))
Height = float(input("Enter the Height of Cylinder"))
Volume = (PI/4)*(Diameter**2)* Height
print(f'The Volume of Cylinder is {Volume}mm^3')

The Volume of Cylinder is 9.426300000000001mm^3

In [13]:
marks = float(input("Enter the Marks:"))

if marks > 90 :
    print("Excellent")
elif marks<90 and marks > 60:
    print("Bright")
else:
    print("Chutiya padhai kar bc")

Chutiya padhai kar bc

In [14]:
# For  loop 
# range (start,stop,step)
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(10):
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [16]:
for i in range(10):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********

In [17]:
for i in range(0,10):
    print(i)
    if i == 6:
        break

0
1
2
3
4
5
6

In [18]:
for i in range(0,10):
    print(i)
    if i ==3:
        continue

0
1
2
3
4
5
6
7
8
9

In [19]:
# Example :
# Palindrom function defination 

def palindrom():
    text1 = input("Enter the String:")
    text2 = text1[::-1]
    if text1==text2:
        print("The given string is palindrom")
    else:
        print("The given String is not Palindrom")

palindrom()

The given String is not Palindrom

In [20]:
# Example 
# Defination a function : Compute
def compute(num1, num2):
    num3 = num1 + num2
    return num3

ans = compute(100,200)

print(f'The answer is{ans}')

The answer is300

In [23]:
# Data Structure of Python Programming
'''
1. List
2. Tuple
3. Dictionary
4. Sets
'''

# List

a = [1,2,3,100.2000,3.1421,3+4j,'Hello World',True,[1,2,3]]
a.append(100)
print(a)
a.insert(1,0)
a

[1, 2, 3, 100.2, 3.1421, (3+4j), 'Hello World', True, [1, 2, 3], 100]

[1, 0, 2, 3, 100.2, 3.1421, (3+4j), 'Hello World', True, [1, 2, 3], 100]

In [24]:
a.pop()
print(a)

[1, 0, 2, 3, 100.2, 3.1421, (3+4j), 'Hello World', True, [1, 2, 3]]

In [28]:
a.remove(1)
print(a)

[2, 3, 100.2, 3.1421, (3+4j), 'Hello World', [1, 2, 3]]

In [29]:
lst = [1000,5000,6000,2000,3000]
lst.sort()
print(lst)

[1000, 2000, 3000, 5000, 6000]

In [30]:
lst.reverse()
print(lst)

[6000, 5000, 3000, 2000, 1000]

In [31]:
lst = [100,200,[3000],400]
print(lst[2][0])

3000

In [37]:
lst1 = [10,20]
lst2 = [30,40]
lst3 = lst1+lst2
print(lst3)
lst1.append(20)
print(lst1)
lst1.pop()
lst1

[10, 20, 30, 40]
[10, 20, 20]

[10, 20]

In [38]:
# Example
lst = [10,21,30,41,51]
even = []
odd = []

for i in lst:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print('even numbers',even)
print('odd numbers',odd)

even numbers [10, 30]
odd numbers [21, 41, 51]

In [42]:
# Example

tup = (10,20,30,40)
print(type(tup))

# Type Cast
tup = list(tup)
tup.append(50)
tup

<class 'tuple'>

[10, 20, 30, 40, 50]

In [44]:
# Dictionary 

# dict = {'key1':value}

d = {'1':10}  # 1:key and 10 : value
print(d.keys())
print(d.values())

dict_keys(['1'])
dict_values([10])

In [46]:
# Fibonacci series: 0 1 1 2 3 5 8 13....
# Factorail Series : 4! = 4*3*2*1 = 24

def factorial(n):

    if n==0 or n==1:
        return 1
    else:
        return n* factorial(n-1)
number = float
factorial(4)

24

In [48]:
# Fibonacci program

def fibonacci(n):
    a,b = 0,1
    for i in range(n):
        print(a, end = " ")
        a, b = b, a+b
n = int(input("Enter the number of terms: "))
fibonacci(n)

0 1 1 2 3 5 8 13

In [5]:
def fibonacci(n):
    a,b = 0,1
    for i in range(n):
        print(a,end = " ")
        a,b = b, a+b
n = int(input("Enter the number of terms: "))
fibonacci(n)

0 1 1 2 3 5 8 13 21

In [50]:
print([i*i for i in range(10)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [51]:
# [0 2 4 6 8 10 ...]

lst = []

for i in range(12):
    if i%2 ==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8, 10]

In [1]:
# addition of two tuples

t1 = (1,2,3)
t2 = (4,5,6)

result = tuple(a+b for a, b in zip(t1,t2))
print(result)

(5, 7, 9)

In [2]:
# factorial using recursion

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else :
        return n * factorial(n-1)
num = 5
print("factorial:",factorial(num))

factorial: 120

In [1]:
# Logical Operator

age = 15
income= 20000

if age >= 18 or income >= 15000:
    print("eligible for the loan")
else: 
    print("not eligible")

eligible for the loan

In [2]:
a = True
b = False 
if not a:
    print("my name is a")
if not b:
    print("my name is b")

my name is b

In [4]:
# list Operation
#1) Concatenation

list1 = [1,3,5,7,9]
list2 = [2,4,6,8]

list1+list2

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [6]:
# Repeatation
list = ['hello']
list*5

['hello', 'hello', 'hello', 'hello', 'hello']

In [8]:
# 3. Membership
list1 = ['rushi','prachi','amit']
'rushi'in list1
'prashant'not in list1

True

In [13]:
# slicing
list1 = ['rushi','patil','chetan','sagar','prashu']
list1[-1:-4:-1]

['prashu', 'sagar', 'chetan']

In [14]:
# list function in python
# len()
list1 = [10,20,30,40,50]
len(list1)

5

In [ ]:
# append()
list1 = [10,20,30,40]
list1.append(50)
list1

[10, 20, 30, 40, 50]

In [17]:
# extend()
list1 = [10,20,30]
list2 = [40,50]
list1.extend(list2)
print(list1)

[10, 20, 30, 40, 50]

In [19]:
# guessing the number game
number = float(input("Enter the Number Between 1 to 3:"))

if number ==1:
    print('The Number is 1')

if number ==2:
    print("the Number is 2")
if number ==3:
    print("The Number is 3")

In [20]:
# To check the wether the given string palindorm or Not

text1 = input("Enter the string")
text2 =text1 [::-1]

if text1 == text2 :
    print("The Given String is Palindrom")
else:
    print("The given string is not palindrom")

The Given String is Palindrom

In [21]:
i = 1
while(i < 5):
 print(i)
 i += 1

1
2
3
4

In [22]:
# while loop

x = 0
while not(1<=x<=100):
    x = int(input("please enter a number between 1 and 100"))
print("valid no",x)

valid no 12

In [23]:
for i in range(4):
    x = int(input("please enter a number between 1 and 100:"))
    if 1<=x<=100:
        print("valid no",x)
        break
    else:
        print("Invalid number try again.")

Invalid number try again.
Invalid number try again.
Invalid number try again.
valid no 1

In [24]:
# for loop 
# range(start,stop,step)
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
# write a program to find all prime numbers within  a given range
start = int(input("Enter Start"))
end = int(input("Enter end:"))
print("Prime numbers are:")
for num in range(start , end+1):
    if num >1 :
        for i in range(2,num):
            if num %i==0:
                break
            else:
                print(num)

Prime numbers are:
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
21
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
33
35
35
35
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
39
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
45
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
49
49
49
49
49
51
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
55
55
55
57
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
63
65
65
65
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
69
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
75
77
77
77
77
77
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
81
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
85
85
85
87
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
91
91
91
91
91
93
95
95
95
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
99

In [26]:
# palindrom 

text1 = input("enter the string")
text2 = text1[::-1]

if text1 == text2:
    print("the given is string is palindrom")
else:
    print('not a palindrom')

the given is string is palindrom

In [27]:
marks = float(input("Enter the marks"))

if marks> 90:
    print("Excellent")
elif marks<90 and marks > 60:
    print("Bright")
else:
    print("chutiya hai sala bhena ka loda")

chutiya hai sala bhena ka loda

In [28]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [29]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [30]:
for i in range(10):
    print('#'*i)

#
##
###
####
#####
######
#######
########
#########

In [31]:
for i in range(0,10):
    print(i)
    if i ==6:
        break

0
1
2
3
4
5
6

In [32]:
a = [1,2,3,100.2000,3,1421,3+4j,'hello world','True',[1,2,3]]
a.append(100)
print(a)
a.insert(1,0)
a

[1, 2, 3, 100.2, 3, 1421, (3+4j), 'hello world', 'True', [1, 2, 3], 100]

[1, 0, 2, 3, 100.2, 3, 1421, (3+4j), 'hello world', 'True', [1, 2, 3], 100]

In [33]:
a.pop()
a

[1, 0, 2, 3, 100.2, 3, 1421, (3+4j), 'hello world', 'True', [1, 2, 3]]

In [34]:
a.remove(1)
a

[0, 2, 3, 100.2, 3, 1421, (3+4j), 'hello world', 'True', [1, 2, 3]]

In [35]:
lst = [1000,5000,6000,2000,3000]
lst.sort()
print(lst)

[1000, 2000, 3000, 5000, 6000]

In [36]:
lst.reverse()
lst

[6000, 5000, 3000, 2000, 1000]

In [37]:
lst = [100,200,[3000],400]
print(lst[2][0])

3000

In [43]:
lst = [10,21,30,41,51]
even = []
odd = []

for i in lst:
    if i%2==0:
       even.append(i)
    else:
       odd.append(i)
print('even numbers',even)
print('odd numbers',odd)

even numbers [10, 30]
odd numbers [21, 41, 51]

In [44]:
# factorial 
def factorial(n):

    if n==0 or n==1:
        return 1
    else:
        return n* factorial(n-1)
number = float
factorial(4)

24

In [46]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n* factorial(n-1)
number = float
factorial(9)

362880

In [47]:
# fibonacci series

def fibonacci(n):
    a,b = 0,1
    for i in range(n):
        print(a, end = ' ')
        a,b = b, a+b
n = int(input("Enter the number of terms:"))
fibonacci(n)

0 1 1 2 3 5 8 13

In [48]:
def fibonacci(n):
    a,b = 0,1
    for i in range(n):
        print(a, end = '')
        a, b = b, a+b
n = int(input("Enter the number of terms:"))
fibonacci(n)

011235813

In [49]:
print([i*i for i in range(10)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
# Even number 

lst = []

for i in range(12):
    if i%2 ==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8, 10]

In [55]:
lst = [10,15,20,40,60]
sum = 0
for i in lst:
    if i%2==0:
      sum = sum+i
sum

130

In [63]:
list1 = [1,4,6,8,9,11]
sum = 0
for i in list1:
    if i%2 ==0:
        sum = sum+i
sum

18

In [65]:
# Simple Recursion
def show(n):
    if n==0:
        return
    print(n)
    show(n-1)

show(5)

5
4
3
2
1

In [66]:
# Inheritance 
# One class acquires properties of another class

class parent:
    def house(self):
        print("Parent House")

class child(parent):
    def bike(self):
        print("child bike")

c = child()
c.house()
c.bike()

Parent House
child bike

In [67]:
# Polymorphism
# One function - many forms
class A:
    def show(self):
        print("class A")
class B(A):
    def show(self):
        print("Class B")
    
obj = B()
obj.show()

Class B

In [68]:
# Encapsulation
# Binding data and methods together

class Bank:
    def __init__(self):
        self.__balance = 1000
    def show_balance(self):
        print(self.__balance)

b = Bank()
b.show_balance()

1000

In [ ]:
#Class: Blueprint of object
#Object: Instance of class
#Constructor: Initializes data
#self: Current object
#Inheritance: Parentâ€“child relation
#Polymorphism: One name many forms
#Encapsulation: Data hiding